<script>
    var dt = new Date()
    document.getElementById("year").innerHTML = dt.getFullYear()
    var windowSize = window.matchMedia("(max-width: 375px)")
    if (windowSize.matches) {
        var element = document.getElementById("cmu-logo")
        element.setAttribute("style", "visibility: hidden;")
    }
</script>
<script>
    /*
    var navul = document.getElementById("navul")
    var alists = navul.getElementsByClassName("nav-link")
    for (var i = 0; i < alists.length; i++) {
        alists[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active")
            current[0].className = current[0].className.replace(" active", "")
            this.className += " active"
        })
    }
    */
    var hrefString = document.location.href
        ? document.location.href
        : document.location
    var url = hrefString.split("/") //replace string with location.href
    var navLinks = document
        .getElementById("navul")
        .getElementsByClassName("nav-link")
    var currentPage = url[url.length - 1]
    for (var i = 0; i < navLinks.length; i++) {
        var lb = navLinks[i].href.split("/")
        if (lb[lb.length - 1] == currentPage) {
            navLinks[i].className += "current"
        } else {
            navLinks[i].className = navLinks[i].className.replace(" active", "")
        }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    ;(function(i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r
        ;(i[r] =
            i[r] ||
            function() {
                ;(i[r].q = i[r].q || []).push(arguments)
            }),
            (i[r].l = 1 * new Date())
        ;(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0])
        a.async = 1
        a.src = g
        m.parentNode.insertBefore(a, m)
    })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
    )

    ga("create", "UA-46738331-1", "coloradomesa.edu")
    ga("send", "pageview")
</script>
